<div class="box-container">
<h2>Create New Post</h2>
<form id="create-post">
    <section>
        <label for="">Title</label>
        <input type="text" id="new-title" />
    </section>
    <section>
        <label for="">Content</label>
        <textarea id="new-content"></textarea>
    </section>
    <button type="submit">Create</button>
    </div>
</form>

<script src="/js/create.js"></script>