<h2>Your Dashboard</h2>

<ul>
    {{#each Posts}}
    <li><a href="##">{{title}} </a><span>5/8/2020</span></li>
    {{/each}}
</ul>


<a href="/create-post" id="newPostBtn">+ New Post</a>

<script src="/js/dashboard.js"></script>