<div class="dashboard box-container">
    <h2>Your Dashboard</h2>

    <ul>
        {{#each Posts}}
        <li><a href="/edit-post/{{id}}"><strong>{{title}}</strong> 
        <span>{{date}}</span></a></li>
        {{/each}}
    </ul>

    <div class="buttons">
        <a href="/create-post" id="newPostBtn">+ New Post</a>
    </div>
</div>

