<div class="box-container">
<h2>Login</h2>
<form action="" id="login">
    <section>
        <label for="loginUsername">Username</label>
        <input type="text" name="loginUsername" id="loginUsername">
    </section>
    <section>
    <label for="loginPassword">Password</label>
    <input type="password" name="loginPassword" id="loginPassword" >
    </section>
    <button>Login!</button>
</form>
<a href="/signup">Sign up instead</a>
</div>

<script src="/js/login.js"></script>