<div class="login-box box-container">
<h2>Login</h2>
<form action="" id="login">
    <section>
        <label for="loginUsername">Username</label>
        <input type="text" name="loginUsername" id="loginUsername" required>
    </section>
    <section>
        <label for="loginPassword">Password</label>
        <input type="password" name="loginPassword" id="loginPassword"  required>
    </section>
    <div class="buttons">
        <button>Login!</button> 
    </div>
    <a href="/signup">Sign up instead</a>
</form>

</div>

<script src="/js/login.js"></script>