<div class="blog-posts postdetail">
<article>
    <div class="hd">
        <h3>{{title}}</h3>
        <span>Posted by {{User.username}} on {{date}}</span>
    </div>
    <p>{{content}}</p>
</article>

<div class="create-cmt">
    <form id="create-cmt">
        <label for="new-comment">Comment</label>
        <textarea id="new-comment"></textarea>
        <button>Sumbmit</button>
    </form>
</div>
</div>