<div class="box-container">
<h2>Signup</h2>
<form action="" id="signup">
    <section>
    <label for="signupUsername">Username</label>
    <input type="text" name="signupUsername" id="signupUsername"/>
    </section>
    <section>
    <label for="signupPassword">Password</label>
    <input type="password" name="signupPassword" id="signupPassword" placeholder="signupPassword">
    </section>
    <button>Signup!</button>
</form>
<a href="/login">Log in instead</a>
</div>
<script src="/js/signup.js"></script>